{% extends 'base/base.html' %}
{%block title%}
{%if object%}Editar Expediente
{%else%}
Nuevo Expediente
{%endif%}
{%endblock%}
{% block content %}
{%load static%}
<link rel="stylesheet" href="{%static 'css/expediente.css'%}">
<section font-family="Arial Narrow Bold">
    <div class="container">
        {% if object %}
    <h1>Editar Expediente</h1>
        <form role = "form" action="{% url 'proyeccionsocial:editar_expediente' object.pk %}" method="POST">
        {% else %}
            <h2 align="center" class="form-titulo">Registrar Expediente</h2>
            <form role = "form" action="{% url 'proyeccionsocial:agregar_expediente' %}" method="POST">
            {% endif %}
            {% csrf_token %}

            <div class="rowExp">
                {% if object %}
                    <div class="columExp" style="display:none; color:black;">
                        <label for="codigo_paciente">{{form.codigo_expediente.label}} </label>
                        {{form.codigo_expediente}}
                {% else %}
                    <div class="columExp" style="color:black;">
                        <label for="codigo_paciente">{{form.codigo_expediente.label}} </label>
                        {{form.codigo_expediente}}
                {% endif %}
                </div>
                <div class="columExp" style="color:black;">
                    <label for="fecha_nacimiento_paciente">{{form.fecha_nacimiento_paciente.label}}</label>
                    {{form.fecha_nacimiento_paciente}}
                </div>
            </div>
            <div class="rowExp">
                <div class="columExp" style="color:black;">
                    {{form.fecha_expediente.label_tag}}
                    {{form.fecha_expediente}}
                </div>
                <div class="columExp" style="color:black;">
                    {{form.estado_expediente.label_tag}}
                    {{form.estado_expediente}}
                </div>
            </div>
            <div class="rowExp">
                <div class="columExp" style="color:black;">
                    <label for="apellido_paciente">{{form.apellido_paciente.label}}</label>
                    {{form.apellido_paciente}}
                </div>
                 <div class="columExp" style="color:black;">
                    <label for="edad_paciente">{{form.edad_paciente.label}}</label>
                     {{form.edad_paciente}}
                </div>
            </div>
            <div class="rowExp">
                <div class="columExp" style="color:black;">
                    <label for="segApellPaciente">{{form.segApellPaciente.label}}</label>
                    {{form.segApellPaciente}}
                </div>
                <div class="columExp" style="color:black;">
                    <label for="sexo">{{form.sexo_paciente.label}}</label>
                    {{form.sexo_paciente}}
                </div>
            </div>
            <div class="rowExp">
                <div class="columExp" style="color:black;">
                    <label for="nombre_paciente">{{form.nombre_paciente.label}}</label>
                    {{form.nombre_paciente}}
                </div>
                <div class="columExp" style="color:black;">
                    <label for="direccion_paciente">{{form.direccion_paciente.label}}</label>
                    {{form.direccion_paciente}}
                </div>
            </div>
            <div class="rowExp">
                <div class="columExp" style="color:black;">
                    <label for="segNombrePaciente">{{form.segNombrePaciente.label}}</label>
                    {{form.segNombrePaciente}}
                </div>
                <div class="columExp" style="color:black;">
                    <label for="telefono_paciente">{{form.telefono_paciente.label}}</label>
                    {{form.telefono_paciente}}
                </div>
            </div>
            <div class="rowExp">
                <div class="columExp" style="color:black;">
                    <label for="responsable_paciente">{{form.responsable_paciente.label}}</label>
                    {{form.responsable_paciente}}
                </div>
                <div class="columExp" style="color:black;">
                    <label for="lugar_trabajo_paciente">{{form.lugar_trabajo_paciente.label}}</label>
                    {{form.lugar_trabajo_paciente}}
                </div>
            </div>
            <div class="rowExp" style="color:black;">
                <div class="columExp">
                <label for="ocupacion_paciente">{{form.ocupacion_paciente.label}}</label>
                    {{form.ocupacion_paciente}}
                </div>
                <div class="columExp" style="width: 32.3%"></div>
            </div>
            <div class="areas" >
                {{form.histoMedica.label_tag}}
                {{form.histoMedica}}
                {{form.histoOdonto.label_tag}}
                {{form.histoOdonto}}
            </div>
            <div class="buttons">
            <br><br>
                <input class="btn-buscar btn-busqueda" type="submit" value="Guardar" id="guardarbtn" name="guardarbtn">
                <input class="btn-buscar btn-busqueda" type="button" name="Cancelarbtn" id="Cancelarbtn" value="Cancelar" onclick="window.location.href='{% url 'proyeccionsocial:consulta_expediente' %}'" >
            </div>
    </form>
    </form>
    </div>
    </section>
    <aside>
        <div class="container"></div>
    </aside>
    <footer>
        <div class="container"></div>
    </footer>
    
{% endblock %}
