{% extends 'base/base.html' %}
{%block title%}
    Crear Estudio Universitario
{%endblock%}
{% block content %}

{% load static %}
    <link rel = "stylesheet" href = "{% static 'css/stylePrueba.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/sweet-alert.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.min-PRUEBA.css' %}">
    
  <header>
    <div class="container">
        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Registro de Estudio Universitario</h2>
        </br></br></br>
    </div>
  </header>

<div class="container-fluid">
    <div class="container-flat-form">
        <div class="title-flat-form title-flat-green">Registrar Estudio Universitario</div>
            {% if object %}
                <form role = "form" action="{% url 'proyeccionsocial:editar_estudio_universitario' object.pk %}" method="POST">
            {% else %}
                <form role = "form" action="{% url 'proyeccionsocial:crear_estudio_universitario' user.username %}" method="POST">
            {% endif %}

                <div class="row">
                    <div class="col-xs-14 col-sm-8 col-sm-offset-2">
                    {% csrf_token %}
                        {{form.errors}}

                        {% if object %}
                            <div class="group-material" style="display:none;">
                                <div class="row-xx">
                                    <div class="col-8 col-sm-6">
                                        {{form.carnet_estudiante.label_tag}}
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        {{form.carnet_estudiante}}
                                        </br>
                                    </div>
                                </div>
                            </div>


                            <div class="group-material">
                                <div class="row-xx">
                                    <div class="col-8 col-sm-6">
                                        {{form.codigo_carrera.label_tag}}
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        {{form.codigo_carrera}}
                                        </br>
                                    </div>
                                </div>
                            </div>

                            <div class="group-material">
                                <div class="row-xx">
                                    <div class="col-8 col-sm-6">
                                        {{form.codigo_ciclo.label_tag}}
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        {{form.codigo_ciclo}}
                                        </br>
                                    </div>
                                </div>
                            </div>

                            </br></br></br></br>

                            <div class="group-material">
                                {{form.porc_carrerar_aprob}}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                {{form.porc_carrerar_aprob.label_tag}}
                            </div>

                            <div class="group-material">
                                {{form.unidades_valorativas}}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                {{form.unidades_valorativas.label_tag}}
                            </div>

                            <div class="group-material">
                                {{form.experiencia_areas_conoc}}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                {{form.experiencia_areas_conoc.label_tag}}
                            </div>

                        {% else %}

                            {% if request.user.usuario_administrador %}

                                <div class="group-material">
                                    <div class="row-xx">
                                        <div class="col-8 col-sm-6">
                                            <label>Carnet</label>
                                        </div>
                                        <div class="col-4 col-sm-6">
                                            <select class="form-control" name="carnet" required>
                                                <option></option>
                                            {% if estudiantes %}
                                                {% for est in estudiantes %}
                                                    <option value="{{ est.carnet_estudiante }}">{{ est.carnet_estudiante }}</option>
                                                {% endfor %}
                                            {% endif %}
                                            </select>
                                            </br>
                                        </div>
                                    </div>
                                </div>

                            {% else %}    

                                <div class="group-material">
                                    <div class="row-xx">
                                        <div class="col-8 col-sm-6">
                                            <label>Carnet</label>
                                        </div>
                                        <div class="col-4 col-sm-6">
                                            <select class="form-control" name="carnet" readonly>
                                                <option value="{{ user.username }}">{{ user.username }}</option>
                                            </select>
                                            </br>
                                        </div>
                                    </div>
                                </div>
                            
                            {% endif %}

                            <div class="group-material">
                                <div class="row-xx">
                                    <div class="col-8 col-sm-6">
                                        <label>Carrera</label>
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        <select class="form-control" name="carrera" required>
                                            <option disabled selected></option>
                                        {% if carreras %}
                                            {% for car in carreras %}
                                                <option value="{{ car.codigo_carrera }}">{{ car.nombre_carrera }}</option>
                                            {% endfor %}
                                        {% endif %}
                                        </select>
                                        </br>
                                    </div>
                                </div>
                            </div>

                            <div class="group-material">
                                <div class="row-xx">
                                    <div class="col-8 col-sm-6">
                                        <label>Ciclo</label>
                                    </div>
                                    <div class="col-4 col-sm-6">
                                        <select class="form-control" name="ciclo" required>
                                            <option disabled selected></option>
                                        {% if ciclos %}
                                            {% for cic in ciclos %}
                                                <option value="{{ cic.codigo_ciclo }}">{{ cic.codigo_ciclo }}</option>
                                            {% endfor %}
                                        {% endif %}
                                        </select>
                                        </br>
                                    </div>
                                </div>
                            </div>

                            </br></br></br></br></br></br></br>

                            <div class="group-material">
                                <input type="text" class="material-control tooltips-general" required="" maxlength="3" data-toggle="tooltip" data-placement="top" title="Ingrese el Pocentaje de Carrera Aprobado, Solo Numeros Enteros, No Coloque Signo de %." name="porcentaje" pattern="([6-9]{1}[0-9]{1})">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Porcentaje de Carrera Aprobado:</label>
                            </div>

                            <div class="group-material">
                                <input type="text" class="material-control tooltips-general" required="" maxlength="3" data-toggle="tooltip" data-placement="top" title="Ingrese la Cantidad de Unidades Valorativas Obtenidas." name="unidades" pattern="([0-9]{1,3})">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Unidades Valorativas Obtenidas:</label>
                            </div>

                            <div class="group-material">
                                <input type="text" class="material-control tooltips-general" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Si no tiene ninguna experiencia porfavor escriba 'Ninguna'." name="experiencia" >
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Experiencia en áreas conocidas:</label>
                            </div>
                        
                        {% endif %}

                    </div>
                </div>
                
                <div class="modal-footer">
                    <div class="col-lg-5 text-center">
                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Guardar">
                        <a href = "{% url 'proyeccionsocial:consulta_estudio_universitario' user.username %}"><input type="button" href="{% url 'proyeccionsocial:consulta_estudio_universitario' user.username %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Cancelar"></a>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
</div>

{% endblock %}


{% block js %}
    <script>
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}