{% extends 'base/base.html' %}
{%block title%}
    Crear Entidad Externa
{%endblock%}
{% block content %}

{% load static %}
    <link rel = "stylesheet" href = "{% static 'css/stylePrueba.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/sweet-alert.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.min-PRUEBA.css' %}">
    
  <header>
    <div class="container">
        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Registro de Entidad Externa</h2>
        </br></br></br>
    </div>
  </header>

<div class="container-fluid">
    <div class="container-flat-form">
        <div class="title-flat-form title-flat-green">Registrar Entidad Externa</div>
            {% comment %} {% if object %}
                <form role="form" method="POST" action="{% url  'proyeccionsocial:editar_entidad_externa' object.pk  %}">
            {% else %} {% endcomment %}
                <form role="form" method="POST" action="{% url  'proyeccionsocial:crear_entidad_externa' user.username  %}">
            {% comment %} {% endif %} {% endcomment %}

                <div class="row">
                    <div class="col-xs-14 col-sm-8 col-sm-offset-2">
                    {% csrf_token %}
                        {{form.errors}}

                        {% comment %} {% if object %}
                            <div class="group-material" style="display:none;">
                                {{form.carnet_estudiante}}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                {{form.carnet_estudiante.label_tag}}
                            </div>
                        {% else %} {% endcomment %}
                            <div class="group-material">
                                {{form.codigo_entidad}}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                {{form.codigo_entidad.label_tag}}
                            </div>
                        {% comment %} {% endif %} {% endcomment %}

                        <div class="group-material">
                            {{ form.nombre_entidad }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            {{form.nombre_entidad.label_tag}}
                        </div>

                        <div class="group-material">
                            {{form.direccion_entidad}}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            {{form.direccion_entidad.label_tag}}
                        </div>

                        <div class="group-material">
                            {{form.telefono_entidad}}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            {{form.telefono_entidad.label_tag}}
                        </div>

                    </div>
                </div>
                
                <div class="modal-footer">
                    <div class="col-lg-5 text-center">
                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Guardar">
                        <a href = "{% url 'proyeccionsocial:crear_solicitud_servicio_social' user.username %}"><input type="button" href="{% url 'proyeccionsocial:crear_solicitud_servicio_social' user.username %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Cancelar"></a>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
</div>
{% endblock %}