{% extends 'base/base.html' %}
{%block title%}
    Crear Asesor Externo
{%endblock%}
{% block content %}

{% load static %}
    <link rel = "stylesheet" href = "{% static 'css/stylePrueba.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/sweet-alert.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.min-PRUEBA.css' %}">
    
  <header>
    <div class="container">
        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Registro de Asesor Interno</h2>
        </br></br></br>
    </div>
  </header>

<div class="container-fluid">
    <div class="container-flat-form">
        <div class="title-flat-form title-flat-green">Registrar Asesor Interno</div>
            {% if object %}
                <form role="form" method="POST" action="{% url  'proyeccionsocial:editar_asesor_interno' object.pk%}">
            {% else %}
                <form role="form" method="POST" action="{% url  'proyeccionsocial:crear_asesor_interno' %}">
            {% endif %}

                <div class="row">
                    <div class="col-xs-14 col-sm-8 col-sm-offset-2">
                    {% csrf_token %}
                        {{form.errors}}
                        
                        {% if object %}
                            <div class="group-material" >
                                {{form.carnet_docente}}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                {{form.carnet_docente.label_tag}}
                            </div>
                        {% else %}
                            <div class="group-material" >
                                {{form.carnet_docente}}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                {{form.carnet_docente.label_tag}}
                            </div>
                        {% endif %}
                        
                        <div class="group-material">
                            {{form.nombre_docente}}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            {{form.nombre_docente.label_tag}}
                        </div>
                        
                        <div class="group-material">
                            {{ form.apellido_docente }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            {{form.apellido_docente.label_tag}}
                        </div>

                        <div class="group-material">
                            <div class="row-xx">
                                <div class="col-8 col-sm-6">
                                    {{form.departamento.label_tag}}
                                </div>
                                <div class="col-4 col-sm-6">
                                    {{form.departamento}}
                                    </br>
                                </div>
                            </div>
                        </div>
                        
                        </br>

                        <div class="group-material">
                            <div class="row-xx">
                                <div class="col-8 col-sm-6">
                                    {{form.nombre_rol.label_tag}}
                                </div>
                                <div class="col-4 col-sm-6">
                                    {{form.nombre_rol}}
                                    </br>
                                </div>
                            </div>
                        </div>
                        

                        
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="modal-footer">
                    <div class="col-lg-5 text-center">
                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Guardar">
                        
                        <a href = "{% url 'proyeccionsocial:consulta_asesor_interno'  %}"><input type="button" href="{% url 'proyeccionsocial:consulta_asesor_interno' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Cancelar"></a>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
</div>
{% endblock %}