{% extends 'base/base.html' %}
{%block title%}
Expedientes
{%endblock%}
{% block content %}
        <header>
            <div class="container">
                <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Expedientes Clinicos</h2>
                {% if request.user.is_superuser %}
                <input type="button" class = "btn-buscar btn-busqueda" onclick="window.location.href='{%url 'proyeccionsocial:agregar_expediente'%}'" value="Agregar">
                {% endif %}
                {% if request.user.is_staff %}
                <h3 style="{background-color: silver; color: red; border: 1px solid #ffffff;}">
                No permitido.
                </h3>
                {% endif %}
            </div>
        </header>
        <div class="container">
                <table>
                	<thead>
                      <tr>
                            <th>Código</th>
                            <th>Paciente</th>
                            <th>Estado Expediente</th>
                            <th>Fecha Expediente</th>
                            {% if request.user.is_superuser %}
                            <th>Editar</th>
                            <th>Eliminar</th>
                            {% endif %}
                      </tr>
                    </thead>

                {% if expediente_list %}
                {% for registro in expediente_list %}

                	<tr  class="etiqueta-tr">
                		<td class="th-borde width-th-xx" style = "text-align:center;">{{ registro.codigo_expediente }}</td>
                		<td class="th-borde width-th-xx" style = "text-align:center;">{{ registro.nombre_paciente }} {{ registro.segNombrePaciente }} {{ registro.apellido_paciente }} {{ registro.segApellPaciente }}</td>
                		<td class="th-borde width-th-xx" style = "text-align:center;">{{ registro.estado_expediente }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ registro.fecha_expediente }}</td>
                        {% if request.user.is_superuser %}
                        <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href="{% url 'proyeccionsocial:editar_expediente' registro.codigo_expediente%}">Editar</a>
                        <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href="{% url 'proyeccionsocial:eliminar_expediente' registro.codigo_expediente%}">Eliminar</a></td>
                        {% endif %}
                	</tr>

                {% endfor %}
                {% endif %}

                </table>
            <br>
        </div>

{% endblock %}

{% block js %}
    <script>

    </script>

{% endblock %}