{% extends 'base/base.html' %}
{%block title%}
Documentos de estudiante
{%endblock%}
{% block content %}


  <header>
    <div class="container">
        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Horas Sociales de {{ view.kwargs.pk }}</h2>
        </br></br>
        {% if request.user.usuario_administrador or request.user.rol == 'DOC' %}
            <input type="button" class = "btn-buscar btn-busqueda" onclick="window.location.href='{% url 'proyeccionsocial:agregar_horas_sociales' view.kwargs.pk %}'" value="Agregar"></br></br>
        {% endif %}
        </br>
    </div>
  </header>

  <div class="container">
    <div>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora de Entrada</th>
                <th>Actividad Realizada</th>
                <th>Hora de Salida</th>
            {% if request.user.usuario_administrador or request.user.rol == 'DOC' %}
                <th>Editar</th>
                <th>Eliminar</th>  
            {% endif %}
              
            </tr>
        </thead>

          {% if horas_sociales %}
          {% for hs in horas_sociales %}

            </tr>
                <td class="th-borde width-th-xx" style = "text-align:center;">{{ hs.fecha_servicio }}</td>
                <td class="th-borde width-th-xx" style = "text-align:center;">{{ hs.hora_entrada }}</td>
                <td class="th-borde width-th-xx" style = "text-align:center;">{{ hs.actividad_realizada }}</td>
                <td class="th-borde width-th-xx" style = "text-align:center;">{{ hs.hora_salida }}</td>

            {% if request.user.usuario_administrador or request.user.rol == 'DOC' %}

                <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "{% url 'proyeccionsocial:editar_horas_sociales' hs.pk %}" onclick="window.location.href='{% url 'proyeccionsocial:editar_horas_sociales' hs.pk %}'" class = "btn">Editar</a></td>

                <td class="th-borde width-th-xx" style = "text-align:center;">
                    <form method="post">
                        {% csrf_token %}
                        <a class="a-btn" href=# onclick="return abrir_modal('{% url 'proyeccionsocial:eliminar_horas_sociales' hs.pk %}', 'Eliminar Horas Sociales con Actividad {{ hs.actividad_realizada }}' )" >Eliminar</a>
                    </form>
                </td>
            {% endif %}                           
            </tr>
          {% endfor %}
              {% endif %}  
         

            </table>
    </div>
        </br>

                <a href = "{% url 'proyeccionsocial:consulta_servicio_social' user.username %}"><input type="button" href="{% url 'proyeccionsocial:consulta_servicio_social' user.username %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Cancelar"></a>

        </br>    
  </div>

</div>
<div id = "popup">


</div>
{% endblock %}
{% block js %}

    <script>
        var modal;
        function abrir_modal(url, titulo)
        {
            modal = $('#popup').dialog({
                title :titulo,
                modal :true,
                width :500,
                resizable :false
            }).dialog('open').load(url)
        }
    </script>

{% endblock %}


