{% extends 'base/base.html' %}
{%block title%}
Control Proyecto
{%endblock%}
{% block content %}

<header>
  <div class="container">
      <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Control de Proyecto</h2>
      </br></br>

      {% if request.user.usuario_administrador %}
          {% comment %} <input class = "btn-buscar btn-busqueda"  type="button" href="#" onclick="return abrir_modal('{% url 'proyeccionsocial:crear_proyecto' %}', 'Registrar Proyecto')" value="Agregar"></br></br> {% endcomment %}
          <input type="button" class = "btn-buscar btn-busqueda" onclick="window.location.href='{% url 'proyeccionsocial:crear_proyecto' %}'" value="Agregar"></br></br>
      {% endif %}

      </br>

  </div>
</header>


  <div class="container">
     <!-- Boton Buscar -->
     <div align="center" class="busqueda">
      <form method="POST" action="{% url 'proyeccionsocial:consulta_proyecto_buscar' %}">
          {% csrf_token %} 
          <input type="text" name="codigo_proyecto"  id = "codigo_proyecto" class = "input-style" placeholder="Porfavor ingrese el código del proyecto" required pattern="([A-Z]{3}[0-9]{3})" maxlength="6">
          <input class="btn-buscar btn-busqueda" type = "submit" value = "Buscar" id = "buscarProyecto">
      </form>
    </br>

  </div>
    <div>
    <table>
        <thead>
            <tr>
                <th>C&oacute;digo Proyecto</th>
                <th>Descripci&oacute;n</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

          {% if proyecto_list %}
          {% for proy in proyecto_list %}

            </tr>
                <td class="th-borde width-th-xx" style = "text-align:center;">{{ proy.codigo_proyecto}}</td>
                <td class="th-borde width-th-xx" style = "text-align:center;">{{ proy.descripcion_proyecto }}</td>
                <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "{% url 'proyeccionsocial:editar_proyecto' proy.pk %}" onclick="window.location.href='{% url 'proyeccionsocial:editar_proyecto' proy.pk %}'" class = "btn">Editar</a></td>
                <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "#" onclick = "return abrir_modal('{% url 'proyeccionsocial:eliminar_proyecto'  proy.pk %}', 'Eliminar proyecto {{ proy.codigo_proyecto }}')" class = "btn">Eliminar</a></td>
            </tr>

          {% endfor %}
          {% endif %}  
    

      {% if proyecto_busc %}
      {% for proy in proyecto_busc %}

            </tr>
            <td class="th-borde width-th-xx" style = "text-align:center;">{{ proy.codigo_proyecto}}</td>
            <td class="th-borde width-th-xx" style = "text-align:center;">{{ proy.descripcion_proyecto }}</td>
            <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "{% url 'proyeccionsocial:editar_proyecto' proy.pk %}" onclick="window.location.href='{% url 'proyeccionsocial:editar_proyecto' proy.pk %}'" class = "btn">Editar</a></td>
            <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "#" onclick = "return abrir_modal('{% url 'proyeccionsocial:eliminar_proyecto'  proy.pk %}', 'Eliminar proyecto {{ proy.codigo_proyecto }}')" class = "btn">Eliminar</a></td>
            </tr>

          {% endfor %}
          {% endif %} 
    

             

         

            </table>
    </div>
    
  </div>

    <div id = "popup">
  
  </div>

   {% endblock %}

{% block js %}

    <script>
        var modal;
        function abrir_modal(url, titulo)
        {
            modal = $('#popup').dialog({
                title :titulo,
                modal :true,
                width :500,
                resizable :false
            }).dialog('open').load(url)
        }
    </script>

{% endblock %}